<html>
    <head>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src="lib/hark.bundle.js"></script>
        <script src="lib/recorder.js"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        
    </head>

    <body>
       <!--  <div id="app">
            {{ message }}

            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
            <span v-if="seen">Now you see me</span>
            <ol>
                <li v-for="todo in todos">
                  {{ todo.text }}
                </li>
            </ol>
            <button v-on:click="reverseMessage">Reverse Message</button>
            <input v-model="message">
            <input v-model="message">
            <ol>
              
              <todo-item></todo-item>
            </ol>
        </div> -->


        <br>
        

        <canvas class="visualizer" width="1024" height="768" style="pointer-events: none; position: absolute; width: 100%; height: 100%; left: 0; top: 0;"></canvas>
        <button id="test">Click me</button>
        <div id="download_area"></div>
        
    </body>

    <script src="renderer.js"></script>
    <script type="text/javascript">
        window.AudioContext = window.AudioContext || window.webkitAudioContext;

        var waveform = window.Waveform();

        navigator.getUserMedia = navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia;

        document.querySelector('#test').addEventListener('click', function() {

            audioContext = new AudioContext();

            navigator.getUserMedia({ audio: true},
                function(audio_stream) {

                var source = audioContext.createMediaStreamSource(audio_stream)



                var node = source.context.createScriptProcessor(1024, 1, 1);

                var rec = new Recorder(source, {
                    numChannels: 1,
                    targetSampleRate: 16000
                })

                var analyser = source.context.createAnalyser();
                analyser.minDecibels = -90;
                analyser.maxDecibels = -10;
                analyser.smoothingTimeConstant = 0.5;

                source.connect(analyser);
                analyser.connect(node);                
                node.connect(source.context.destination);

                node.onaudioprocess = function (audioProcessingEvent) {                  
                  analyse();
                };

                var visualizationCallback = function(dataArray, bufferLength){
                    //console.log("visualizationCallback "+dataArray.length+" "+bufferLength)
                    waveform.visualizeAudioBuffer(dataArray, bufferLength)
                }

                var analyse = function () {
                  analyser.fftSize = 4096;
                  var bufferLength = analyser.fftSize;
                  var dataArray = new Uint8Array(bufferLength);
                  

                  analyser.getByteTimeDomainData(dataArray);

                  if (typeof visualizationCallback === 'function') {
                    visualizationCallback(dataArray, bufferLength);
                  }

                  
                };
                

                var options = {};
                var speechEvents = hark(audio_stream, options);

                speechEvents.on('speaking', function() {
                  console.log('speaking');
                  waveform.prepCanvas()

                  rec.record()
                });

                speechEvents.on('stopped_speaking', function() {
                  console.log('stopped_speaking');
                  rec.stop()
                  console.log("exportWAV")
                  rec.exportWAV(function(blob){


                    console.log("exportWAV callback")
                    var url = (window.URL || window.webkitURL).createObjectURL(blob);
                    var link = window.document.createElement('a');
                    link.href = url;
                    link.innerHTML = "download"
                    link.download = 'output.wav';
                    console.log(url)
                    document.querySelector("#download_area").appendChild(link)                   

                    
                  })

                  rec.clear()
                });
            },
              function(err) {
                 console.log("The following error occurred: " + err.name);
              });

         });

       


        // Vue.component('todo-item', {
        //   template: '<li>This is a todo</li>'
        // })

        // var app = new Vue({
        //     el: '#app',
        //     data: {
        //         message: 'Hello Vue!',
        //         seen: false,
        //         todos: [
        //           { text: 'Learn JavaScript' },
        //           { text: 'Learn Vue' },
        //           { text: 'Build something awesome' }
        //         ]
        //     },
        //     methods: {
        //         reverseMessage: function () {
        //           this.message = this.message.split('').reverse().join('')
        //         }
        //     }
        // })

        
    </script>
</html>